<main class="page__main">
  <div>
    <button type="checkbox"></button>
    <input type="number" />
    <p class="product">Artículo</p>
    <p class="product-brand">Marca</p>
    <span class="product-quantity">X kg.</span>
    <p class="product-price">X,XX €</p>
  </div>
  <div>
    <p class="total-items">Items:</p>
    <p class="subtotal">Subtotal</p>
    <p class="shipping-costs">Gastos de envío</p>
    <p class="total">Total</p>
    <button class="buy-btn">Comprar ingredientes:</button>
  </div>
</main>
