<main class="page__main">
  <div>
    <ul class="products-list list-group-flush"></ul>
    <!-- <button type="checkbox"></button>
    <input type="number" /> -->
    <!-- <p class="product">Artículo</p>
    <p class="product-brand">Marca</p>
    <span class="product-quantity">X kg.</span>
    <p class="product-price">X,XX €</p> -->
  </div>
  <div class="payment-container">
    <p class="total-items text-muted">Items:</p>
    <p class="subtotal text-muted">Subtotal</p>
    <p class="shipping-costs text-muted">Gastos de envío</p>
    <p class="total">Total</p>
    <button class="buy-btn btn-success">Comprar ingredientes:</button>
  </div>
</main>
